.footer {
    background-color: var(--clr-gray-dark1);
    padding-top: 58px;
    color: var(--clr-white);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 116px;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer a {
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}

.footer a:hover {
    color: var(--clr-gray-light1);
}


.contacts-container {
    gap: 2rem;
    margin-bottom: 3.75rem;
}

.footer-title {
    margin-bottom: 1.5625rem;
}

.address {
    display: flex;
    margin-bottom: 2rem;
}

.phone-num {
    margin-bottom: 2rem;
}

.contact-icon {
    margin-right: 0.5rem;
}

.socials-container a {
    margin-right: 40px;
}

.footer-rights {
    font-size: .5rem;
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255, 10%);
    padding: 14px 0;
    color: var(--clr-gray-light1);
}